/*  */
@font-face {
	font-family: Cabin;
	src: url('../fonts/Cabin.ttf');
}
*{
    z-index: 0;
}
body{
    background: #EEEEEF;
    margin: 0;
}

p{
    margin: 0;
}

.container {
    display: block;
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .none-b {
    display: none;
  }

  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: black;
  }