/*Header*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.nav-logo {
  background: #10bbd5;
  padding: 16px 0;
}

.logo {
  display: block;
  width: 136px;
  height: 30px;
  background-image: url("../img/logo.png");
}
.bascket-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}
.basket {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  background-image: url("../img/cart-icon.svg");
}
.basket::after {
  content: "0";
  position: absolute;
  text-align: center;
  top: 12px;
  font-family: Cabin;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
}
.total-buy {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.nav-category {
  background: #fff;
  padding: 4px 0;
}
.category-title {
  margin: 0;
  color: #000;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.category-menu {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.category-item {
  color: #000;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/*Header title*/
.main {
  margin-top: 126px;
}

.btn-chat {
  position: fixed;
  display: block;
  width: 64px;
  height: 64px;
  bottom: 28px;
  right: 28px;
  border-radius: 32px;
  background-color: #10bbd5;
  background-image: url("../img/chat_icon.png");
  border: none;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}
.header-title {
  margin-top: 0;
  margin-bottom: 23px;
  color: #1f1f1f;
  font-family: Cabin;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}
/*Product list*/
.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 32px;
  padding-top: 24px;
  border-top: 1px solid #a8a8a8;
}
.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  padding: 32px;
  background: #f8fdfe;
  border: 1px solid #a8a8a8;
}
.product-card-img-badge-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.container-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.new-badge {
  background: #af39e7;
}

.hit-badge {
  background-color: #4200ff;
}

.sale-badge {
  background: #ea33c0;
}
.product-card-img {
  display: block;
  width: 178px;
  height: 280px;
}

.product-card-title-price {
}

.title-product {
  display: block;
  border-bottom: 1px solid #a8a8a8;
  margin: 0;
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-decoration {
  height: 1px;
  background: #a8a8a8;
  border: none;
  margin: 0;
}
.athor-product {
  margin: 0;
  color: var(--gray, #8e8e8e);
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.price {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-top: 8px;
}

.current-price {
  color: #e90000;

  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.old-price {
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  text-decoration: line-through;
}

.btn-product-card {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background: #4c394e;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.btn-end-up {
  background: #4d762d;
}
/*Footer*/
.footer {
  padding: 32px 0;
  background-color: #4c394e;
  margin-top: 120px;
}

.copyright {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
